{% extends 'base.html' %}

<head>

</head>
<body>


	{% block header %}
	<div class="left-column">
		<img id="diary_pic" src="https://img.icons8.com/carbon-copy/2x/healthy-eating.png">


	</div>

	<div class="right-column">

		<div class="about-me">
		<h4>DIARY</h4>

		<p>...</p>

	</div>

	</div>
	{% endblock %}



	{% block content %}
	<a href=""></a>
	<h3 style="text-align: center;">DAYS</h3>
	<ul>

		{% for day in days %}
			<li style="text-align: center;"><a href="http://127.0.0.1:8000/day/{{day.id}}">{{day}}</a></li>
		{% endfor %}

	</ul>

	<h5><br></h5>


	{% if foodportion_list %}
    <ul>

      {% for day in foodportion_list %}
        <a href="{% url 'day' day.id %}">{{day.date}}</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No information to show</p>
    {% endif %}

	{% endblock %}



</body>
</html>