{% extends 'base.html' %}

<head>

</head>
<body>


	{% block header %}
	<div class="left-column">
		<img id="diary_pic" src="https://img.icons8.com/carbon-copy/2x/healthy-eating.png">


	</div>

	<div class="right-column">

		<div class="head-content">
		<h4>DIARY</h4>

		<p>...</p>
        {% if user.is_authenticated %}
            <p >Welcome, {{ user.username }}.</p>
            <p>Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}

	</div>

	</div>
	{% endblock %}



	{% block content %}



        <div class="jumbotron bg text-center text-center" id="container">

	<h3 style="text-align: center;">DAYS</h3>


    <div class="container">
        <div id="task-container">

            <div id="form-wrapper">

				<form id="form">
					<div class="flex-wrapper">
						<div style="flex: 6">

                            <h5>ADD EXAM:</h5>
							<input id="title" class="form-control" type="text" name="title" placeholder="title">
                            <input id="description" class="form-control" type="text" name="description" placeholder="description">
                            <input id="location" class="form-control" type="text" name="location" placeholder="location">
{#                            <input id="id_s" class="form-control" type="text" name="id_s" placeholder="ID students">#}
                            <br />Students:
                            <div id="list-wrapper-students-POST">
                            </div>
						</div>
                        <div>
							<input id="submit" class="btn" type="submit" value="POST">
						</div>

					</div>
				</form>
{#                <div>#}
{#							<input id="submit" class="btn" type="submit" value="POST">#}
{#                </div>#}
			</div>

    </div>

		<div id="task-container">
            <div id="form-wrapper">
            <form id="form">
					<div class="flex-wrapper">
						<div style="flex:6">
							<input id="search" class="form-control" name="search" placeholder="Search">
						</div>
                        <div style="flex:1">
							<input id="search" class="btn" onclick="searchExam()" value="SEARCH">
						</div>
                        <div style="flex:1">
							<input id="clear" class="btn" onclick="clearSearch()" value="CLEAR">
						</div>

					</div>
				</form>

            <h5>SEARCHED:</h5>
            <div id="list-wrapper-search">
			</div>
            <h5>ALL:</h5>
            <div id="list-wrapper">

			</div>
		</div>
	</div>
        </div>








	{% if foodportion_list %}
    <ul style="text-align: center;">

      {% for day in foodportion_list %}
        <a href="{% url 'day' day.id %}">{{day.date}}</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No information to show</p>
    {% endif %}

	{% endblock %}



</body>
</html>